body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: #000 url(../public/images/background.jpg) top center fixed no-repeat;
  background-size: 180%;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 2px;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  body {
    background-size: 120%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 1280px;
  }
}
