.main {
  width: 100%;
  padding: 0 20px 40px;
}

.main__header {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #b3833b;
  text-align: center;
  margin: 0;
  padding: 0 0 15px;
}

.main__subheader {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #b3833b;
  text-align: center;
  margin: 0;
  padding: 25px 0 15px;
}

.main__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 10px 0 0;
}

.main__text_centered {
  text-align: center;
}

.main__text_strong {
  font-weight: 700;
}

.main__bullets {
  margin: 0;
  padding: 0 0 0 23px;
}

.main__bullet {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 10px;
}

.main__bullet:first-of-type {
  margin: 10px 0 0;
}

.main__bullet:last-of-type {
  padding: 0;
}

.main__poster-container {
  padding: 25px 0 0;
}

.main__poster {
  border-radius: 5px;
}

.stars__bullets {
  margin: 0;
  padding: 0 0 0 23px;
}

.stars__bullet {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 5px;
}

.info__header {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #b3833b;
  margin: 15px 0 10px;
}

.info__links {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  opacity: 1;
  transition: opacity 0.3s;
}

.info__link:hover {
  opacity: 0.7;
}
