.price__container {
  max-width: 450px;
  margin: 0 auto;
}

.price__show-header {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #b3833b;
  margin: 15px 0 0;
}

.price__show-header:first-of-type {
  margin: 0;
}

.price__text_padded {
  margin: 25px 0 0;
}

.price__footnote {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  color: #cccccc;
  margin: 25px 0 0;
}

@media screen and (min-width: 768px) {
  .price__container {
    max-width: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .price__section_gala-show {
    grid-column: span 2;
    padding-top: 25px;
  }

  .price__footnote {
    grid-column: span 2;
  }

  .price__show-header {
    text-align: center;
  }

  .price__text-container {
    margin: 0 0 25px;
  }

  .price__text {
    text-align: center;
  }

  .price__section {
    display: flex;
    flex-direction: column;
  }

  .price__button {
    justify-self: flex-end;
    margin: auto auto 0;
    width: 80%;
    max-width: 300px;
  }
}
